$primary: #062f4f;
$primaryLight: #385874;
$primaryDark: #000521;
$p800: #034067;
$p700: #084a74;
$p600: #15547f;
$p500: #1e5c88;
$p400: #497396;
$p300: #6c8ba7;
$p200: #95acc0;
$p100: #beccda;
$p50: #e6ebef;
$secondary: #e57373;
$secondaryLight: #ffa4a2;
$secondaryDark: #af4448;
$s800: #c62828;
$s700: #d32f2f;
$s600: #e53935;
$s500: #f44336;
$s400: #ef5350;
$s300: #e57373;
$s200: #ef9a9a;
$s100: #ffcdd2;
$s50: #ffebee;

