<h2>Гидрологические данные</h2>
<h3>Ежедневные расходы воды в р.Москве и р.Лусянке за 1961-1991 гг.</h3>

<form class="wrapper" [formGroup]="dataForm">

  <mat-form-field>
    <mat-label>Выберите год</mat-label>
    <mat-select [formControl]="dataForm.get('years')">
      <mat-option *ngFor="let year of yearsForm" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Выберите реку</mat-label>
    <mat-select [formControl]="dataForm.get('rivers')">
      <mat-option *ngFor="let river of riversForm" [value]="river">
        {{river}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="createChart()">Построить график</button>
  </div>
</form>
<div class="chart"><canvas #chartLine></canvas></div>



