.svgArea {
  padding: 20px;
  background-color: rgba(6, 47, 79, 0.22);
  margin: 30px 0;
}

#chart {
  background-color: #ffffff;
}

rect.bordered {
  stroke: #E6E6E6;
  stroke-width: 1px;
}

text.mono {
  font-size: 10px;
  fill: red;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}
