@import "../../../styles/commonStyles";

.staffWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

.staffItem {
  width: 320px;
  padding: 0;
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;


  .mat-card-title {
    text-align: center;
  }
  .mat-card-subtitle {
    text-align: center;
  }
  .mat-card-content {
    text-align: center;
  }
}

.card-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.person-card-photo {
  height: 250px;
  width: 100%;
  background-size: cover;
  border-radius: 4px 4px 0 0;
}
