<div>
  <h2>Научный и технический персонал</h2>
</div>

<div class="staffWrapper">
  <div
    *ngFor="let staff of staffList"
    class="staffItem">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{staff.name}}</mat-card-title>
        <mat-card-subtitle>{{staff.degree}}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/images/puklakov.jpg"
        alt="{{staff.name}}">
      <mat-card-content>
        {{staff.jobPosition}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <mat-icon>mail_outline</mat-icon>
        </button>
        <button mat-button>Личная страница</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>








