@import "../../../styles/commonStyles";


.text-highlighted {
  color: $p600;
  font-weight: bolder;
}

.link-in-text {
  color: $p600;
  text-decoration: none;
}


.home-slideshow {
  margin: 30px 0;
}

