@import "../../../styles/commonStyles";

.wrapper-person {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}


.person-summary {
  width: 300px;
  margin-right: 30px;
  flex: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.person-photo {
  width: 230px;
  padding: 10px;
  border: 1px solid $p300;

  img {
    width: 100%;
    display: block;
  }
}


.gotoback {
  color: $p300;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    color: $p600;
  }
}

