<div>
  <p><span class="text-highlighted">Красновидовская учебно-научная станция</span> географического факультета Московского государственного университета имени М.В.Ломоносова является центром проведения лимнологических и гидроэкологических исследований, а также служит полигоном для проведения практик студентов-географов различных специальностей.</p>

  <p>Здесь ведется постоянный гидроэкологический мониторинг состояния Можайского водохранилища, на берегу которого расположена станция. Также сотрудниками из разных организаций на базе станции ежегодно проводятся полевые эксперименты, направленные на изучение закономерностей внутриводоемных процессов, определяющих формирование качества воды. <a class="link-in-text" routerLink="/data-meteo">Наша миссия...</a></p>


</div>

<div class="home-slideshow">
  <slideshow
    [height]="600"
    [minHeight]="'500px'"
    [autoPlay]="false"
    [showArrows]="true"
    [imageUrls]="imageUrls"
    [lazyLoad]="imageUrls?.length > 1"
    [autoPlayWaitForLazyLoad]="true">
  </slideshow>
</div>

<div>
  <p>Можайское водохранилище - небольшой долинный водоем, расположенный на западе Московской области в верховьях р.Москвы, самый крупный из 4 водохранилищ Москворецкой системы водоснабжения г.Москвы.</p>
  <p>Водосборная территория составляет 1360 км2, основные притоки - реки Москва, Колочь, Лусянка. Водохранилище имеет длину 28 км и максимальную глубину до 22 м.</p>
  <p>Водоем характеризуется низким уровнем антропогенного загрязнения, поступающего в основном с диффузным стоком. Трофический статус водохранилища оценивается как эвтрофный, сильные вспышки цветения сине-зеленых водорослей происходят здесь в среднем 1 раз в 3–5 лет.</p>
</div>

<div>
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A854b01bd3b927ebf0bde93c9527a0961b2e0ce3e409d4aa5470bb65ff16d954c&amp;source=constructor" width="100%" height="350" frameborder="0"></iframe>
</div>
