<p>
  Красновидовская учебно-научная станция географического факультета Московского государственного университета имени М.В.Ломоносова является центром проведения лимнологических и гидроэкологических исследований, а также служит полигоном для проведения практик студентов-географов различных специальностей.</p>
<p>
  Здесь ведется постоянный гидроэкологический мониторинг состояния Можайского водохранилища, на берегу которого расположена станция. Также сотрудниками из разных организаций на базе станции ежегодно проводятся полевые эксперименты, направленные на изучение закономерностей внутриводоемных процессов, определяющих формирование качества воды.
</p>


