<h2>Наша миссия</h2>
<p>Наша миссия — сбор и сохранение информации о водных экосистемах Подмосковных водохранилищ и рек для лучшего понимания происходящих в них процессов.</p>
<p>В настоящее время информация о состоянии водных экосистем и качестве воды водных объектов практически недоступна для свободного использования. Коммерциализация доступа к гидрохимической и гидробиологической информации приводит к тому, что мы практически ничего не знаем о реальных наблюдениях, проводимых на наших реках, озерах и водохранилищах: какие ведомства сколько раз отбирали пробы, в каких местах, какие концентрации наблюдались в тот или иной день. Читая обобщенные сводки, очень сложно понять, что же на самом деле происходит с водоемами и водотоками, а значит — и что-то предпринять тоже. У научных и образовательных учреждений нет возможности покупать данные у структурных подразделений Росгидромета, поэтому мы имеем возможность использовать лишь архивную открытую информацию и данные собственных измерений.</p>
<p>Красновидовская станция практически с самого ее основания собирает данные о состоянии наших Подмосковных водохранилищ и рек. Мы бережно храним всё, начиная с лабораторных журналов и полевых дневников. Есть у нас и некоторые данные из других регионов, где побывали экспедиции МГУ и других дружественных нам организаций.</p>
<p>К сожалению, некоторые данные, собранные в доцифровую эпоху, все-таки были утрачены (что-то утеряно, что-то забрали с собой прежние сотрудники по окончанию своей работы на станции). Однако в настоящее время наша политика такова, что каждый, кто работает на станции, должен передавать все собранные данные в наш архив. Таким образом удается собрать самые разные материалы о наших водоемах и окружающей территории. Мы, в свою очередь, готовы делиться накопленной информацией с исследователями, ведь в итоге наша общая цель — сохранение естественных водных объектов и устойчивое управление водными системами, созданными человеком, для обеспечения их экологического благополучия.</p>







