@import "../../../styles/commonStyles";

.Root {
  background-color: $primary;
  color: #ffffff;
  padding-top: 20px;
}


.FooterWrapper {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;

}
