.image-wrapper {
  display: flex;
  margin-bottom: 20px;



  & > div {
    margin-right: 20px;
    max-width: 450px;
  }

  img:hover {
    cursor: zoom-out;
  }
}

.image-title {
  font-style: italic;
  padding: 10px 0;
}
