/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~normalize.scss/normalize";


h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: normal;
}
