@import "../../styles/commonStyles.scss";

.main-naw-menu {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1300px;
}


.main-naw-menu-li {
  list-style: none;
}


.main-naw-link {
  text-decoration: none;
  color: $primary;
  display: block;
}
