
<h2>История станции</h2>


<p>Красновидовская учебно-научная станция была организована в 2002 г. путем преобразования лаборатории по изучению
  водохранилищ кафедры гидрологии суши, которая в свою очередь возникла на базе учебно-научной станции географического
  факультета МГУ. Идея создания станции принадлежала Николаю Адольфовичу Солнцеву-Эльбе (21.02.1902–6.11.1991),
  который в начале 1944 г. подал докладную записку декану Географического факультета проф. С.Д. Муравейскому о
  необходимости организации в окрестностях Москвы постоянно действующей научной географической станции. Руководство
  созданием станции осуществляли проф. С.Д. Муравейский, проф. К.К. Марков (декан факультета с осени 1945 г). Первым
  директором станции был назначен Н.Н. Гулидов.</p>

<div class="image-wrapper">
  <div>
    <img
      [src]="album$[0].thumb"
      (click)="open(0)"/>
    <div class="image-title">{{albumTitles$[0]}}</div>
  </div>
  <div>
    <img
      [src]="album$[1].thumb"
      (click)="open(1)"
      [alt]="album$[1].caption"/>
    <div class="image-title">{{albumTitles$[1]}}</div>
  </div>
</div>

<p>До 1972 г. на базе станции ежегодно проходили учебную полевую практику по геоморфологии, метеорологии,
  гидрологии, географии почв, экономической географии и геодезии более 400 студентов географического и
  геолого-почвенного факультетов МГУ.</p>
<p>Сотрудники станции проводили комплексные научные исследования в долине р. Москвы на территории Можайского района.
  Результаты этих исследований были опубликованы в двух сборниках научных трудов Географической станции
  «Красновидово». За это время в Красновидово получили подготовку свыше трех тысяч студентов, из которых многие
  впоследствии стали выдающимися исследователями и организаторами географической науки: А.П. Капица, Н.С. Касимов,
  В.Н. Конищев, Г.И. Рычагов, Р.С. Чалов и др.</p>
<p> Создание Можайского водохранилища дало новое направление в работе географической станции, в 1965 г. на базе
  станции профессором В.Д. Быковым была организована научно-исследовательская лаборатория по изучению водохранилищ.
</p>
<p>30 апреля 1965 г. вышел приказ № 166 ректора МГУ И.Г. Петровского об организации в пос. Красновидово на Можайском
  водохранилище комплексной научно-исследовательской станции географического факультета МГУ по изучению водохранилищ
  (лаборатория по изучению водохранилищ), утверждено Положение о лаборатории и программа ее работ. Первым заведующим
  лаборатории стал Р.К. Клиге, научным руководителем – В.Д. Быков. В 1967 г. заведующим лаборатории стал И.М. Кисин.
  Начался период интенсивного оснащения лаборатории разными техническими средствами и оборудованием. С 1971 г. в
  Красновидово проводится учебная лимнологическая практика студентов кафедры гидрологии суши географического
  факультета МГУ. Студенты сразу же стали активно привлекаться для выполнения научных работ. В это время было начато
  проведение режимных гидролого-гидрохимических синхронных съемок на всех водохранилищах Москворецкой системы для
  возможности расчетов водного баланса и баланса растворенных и взвешенных веществ в отдельных районах и участках
  водохранилищ, определяющих в них питьевые, технологические и рекреационные качества водных масс.</p>
<div class="image-wrapper">
  <div>
    <img
      [src]="album$[2].thumb"
      (click)="open(2)"
      [alt]="album$[2].caption"/>
    <div class="image-title">{{albumTitles$[2]}}</div>
  </div>
  <div>
    <img
      [src]="album$[3].thumb"
      (click)="open(3)"
      [alt]="album$[3].caption"/>
    <div class="image-title">{{albumTitles$[3]}}</div>
  </div>
</div>
<p>За период 1971–1975 гг. сотрудниками лаборатории было выполнено 43 съемки Можайского, 15 – Рузского, 16 –
  Озернинского и 16 – Истринского водохранилищ. С 1971 по 1980 г. были защищены 1 докторская и 12 кандидатских
  диссертаций. В 1977 г. были начаты работы на Вазузско-Яузской ГТС: 2 съемки были выполнены до заполнения
  водохранилища в 1977 г. и 14 съемок в 1978–1980 гг. В это же время сотрудники лаборатории работали на Цимлянском и
  Зейском водохранилищах.</p>
<div class="image-wrapper">
  <div>
    <img
      [src]="album$[4].thumb"
      (click)="open(4)"
      [alt]="album$[4].caption"/>
    <div class="image-title">{{albumTitles$[4]}}</div>
  </div>
  <div>
    <img
      [src]="album$[5].thumb"
      (click)="open(5)"
      [alt]="album$[5].caption"/>
    <div class="image-title">{{albumTitles$[5]}}</div>
  </div>
</div>
<p> В 1979 г. заведующим лаборатории был назначен А.С. Немальцев, в 1982 г. научным руководителем лаборатории стал
  К.К. Эдельштейн.</p>
<p>Основной объем работ был сосредоточен на исследованиях режима и прогнозе качества воды в водохранилищах. В 1968 и
  1984 гг. на Можайском водохранилище проведены большие комплексные работы по программе «Балансовый год». Всего за
  1981–1990 гг. выполнено более 70 гидролого-гидрохимических съемок москворецких водохранилищ, защищены 1 докторская
  и 4 кандидатские диссертации.</p>
<p>Период 1991–2000 гг. пришелся на тяжелое перестроечное время. Тем не менее, полевые работы не прекращались.
  Основной упор был сделан на Можайское и Истринское водохранилища. В 2001 г. А.С. Немальцев ушел на пенсию,
  оставшись работать в лаборатории на должности инженера. Заведующим лаборатории стал В.В. Пуклаков. Этот период
  времени проходил под знаком борьбы за выживание в зимнее время, когда до 2008 г. лабораторный корпус зимой совсем
  не отапливался, и последующего его восстановления до приемлемого состояния.</p>
<div class="image-wrapper">
  <div>
    <img
      [src]="album$[6].thumb"
      (click)="open(6)"
      [alt]="album$[6].caption"/>
    <div class="image-title">{{albumTitles$[6]}}</div>
  </div>
  <div>
    <img
      [src]="album$[7].thumb"
      (click)="open(7)"
      [alt]="album$[7].caption"/>
  </div>
  <div>
    <img
      [src]="album$[8].thumb"
      (click)="open(8)"
      [alt]="album$[8].caption"/>
  </div>
  <div>
    <img
      [src]="album$[9].thumb"
      (click)="open(9)"
      [alt]="album$[9].caption"/>
    <div class="image-title">{{albumTitles$[9]}}</div>
  </div>
</div>

<p>Восстановление корпуса начали в 2001 г., когда заведующий кафедры гидрологии суши Н.И. Алексеевский выделил
  деньги на ремонт провалившейся крыши. В 2002 г. кафедра гидрологии суши помогла с заменой потолочных перекрытий и
  обшивкой потолка. В 2003–2014 гг. своими силами на деньги спонсоров были отремонтированы все комнаты лабораторного
  корпуса, отмостка здания, факультет помог заменить размороженную систему отопления, обрешетку и кровлю крыши,
  утеплить потолки. На деньги Е.В. Лямцева и С.М. Саркисяна выполнен ремонт подвала и замена рам в окнах
  лаборатории. И так последовательно каждый год понемногу лабораторный корпус был приведен в рабочее состояние.</p>
<p> Из полевых работ в это время наиболее значимы были работы на водохранилищах Москворецкой и Волжской систем
  водоснабжения г. Москвы: выполнено 75 съемок Можайского водохранилища, в т.ч. 12 съемок по программе «Балансовый
  2012 г.», проведено три экспериментальных полигонных исследования его плесов, ряд съемок водохранилищ
  водораздельного бьефа канала им. Москвы и москворецкой системы, руслового тракта р. Москвы, оз. Сенеж. Разработан
  и ежегодно совершенствуется алгоритм численной балансовой боксовой модели от «Состав водных масс» (СВМ-1971) и
  «Тепло-массо-обмен» (ТМО-1987) до «Гидрологической модели водохранилища» (ГМВ-МГУ-2012) для автоматизации расчетов
  все более сложной системы уравнений, воспроизводящей ежесуточное изменение экологического состояния участков и
  слоев воды в течение текущего или любого прошедшего годового гидрологического и водохозяйственного цикла. Модель
  адаптирована к десятку водохранилищ Волжского бассейна и может быть использована для долинных, долинно-котловинных
  и многолопастных водохранилищ сезонного и многолетнего регулирования речного стока, расположенных в различных
  географических зонах.</p>

<div class="image-wrapper">
  <div>
    <img
      [src]="album$[10].thumb"
      (click)="open(10)"
      [alt]="album$[10].caption"/>
    <div class="image-title">{{albumTitles$[10]}}</div>
  </div>
  <div>
    <img
      [src]="album$[11].thumb"
      (click)="open(11)"
      [alt]="album$[11].caption"/>
    <div class="image-title">{{albumTitles$[11]}}</div>
  </div>
</div>

<p>С конца 1990-х годов практически ежегодно, с небольшими перерывами на базе лаборатории работают сотрудники ИВП
  РАН, несколько лет проводили работы сотрудники физфака МГУ и ВНИРО. За этот период по материалам лаборатории
  защищены 4 кандидатские диссертации, подготовлены к защите 2 докторские и 2 кандидатские диссертации. Рекомендации
  сотрудников лаборатории повседневно используются Мосводоканалом при эксплуатации Можайского, Рузского,
  Озернинского и Истринского водохранилищ Москворецкой водохозяйственной системы, Учинского и Клязьминского
  водохранилищ канала имени Москвы, а также муниципалитетом г. Солнечногорск при рекреационном использовании и
  охране водных ресурсов Сенежа – старейшего водохранилища Подмосковья.</p>
<p> Кроме полевых и научных исследований лаборатория внесла значительный вклад в учебный процесс: помимо проводимой
  с 1971 г. лимнологической практики студентов кафедры гидрологии суши географического факультета МГУ, с 2003 г.
  лаборатория является базой гидрометеорологической практики студентов кафедры экологии и наук о земле
  Международного университета природы, общества и человека «Дубна», а с 2007 г. – гидрохимической практики студентов
  кафедры рационального природопользования географического факультета МГУ.
</p>
<p> В последние годы здесь проводится посвящение в гидрологи студентов второго курса географического факультета МГУ.
</p>

<div class="image-wrapper">
  <div>
    <img
      [src]="album$[12].thumb"
      (click)="open(12)"
      [alt]="album$[12].caption"/>
    <div class="image-title">{{albumTitles$[12]}}</div>
  </div>
  <div>
    <img
      [src]="album$[13].thumb"
      (click)="open(13)"
      [alt]="album$[13].caption"/>
    <div class="image-title">{{albumTitles$[13]}}</div>
  </div>
</div>

<p> Руководителями студенческих гидрологических практик были: Эдельштейн Константин Константинович – 1971–2004 гг.;
  Даценко Юрий Сергеевич – 2005–2011 гг. (один год на время командировки его заменяла Заславская Мая Борисовна);
  Гречушникова Мария Георгиевна – с 2012 г.
</p>

<div class="image-wrapper">
  <div>
    <img
      [src]="album$[14].thumb"
      (click)="open(14)"
      [alt]="album$[14].caption"/>
    <div class="image-title">{{albumTitles$[14]}}</div>
  </div>
  <div>
    <img
      [src]="album$[15].thumb"
      (click)="open(15)"
      [alt]="album$[15].caption"/>
    <div class="image-title">{{albumTitles$[15]}}</div>
  </div>
</div>

<p> Практики на Можайском водохранилище хорошо обеспечены учебно-научными и методическими материалами. В настоящее
  время Красновидовская УНБ располагает гидрохимической и гидробиологической лабораториями, обширной библиотекой,
  компьютерным классом, конференц-залом, обогреваемыми жилыми (на 20 студентов и 4 преподавателя) и учебными
  помещениями, приборной, столовой и кухней, душевой (все в двухэтажном здании площадью 720 м2); складскими
  помещениями (в отдельной постройке), своим маломерным флотом (две моторных лодки «Прогресс», одна моторная лодка
  «Вельбот», плавдача-амфибия «Дон», три весельные лодки «Кефаль»), лимнологическими приборами и оборудованием,
  спецснаряжением, возможностью установить палаточный лагерь на территории станции и непосредственно на берегу
  Можайского водохранилища.
</p>

