<div>
  <h2>История станции</h2>
</div>

<div>
  <p>Красновидовская учебно-научная станция была организована в 2002 г. путем преобразования лаборатории по изучению водохранилищ кафедры гидрологии суши, которая в свою очередь возникла на базе учебно-научной станции географического факультета МГУ. Идея создания станции принадлежала Николаю Адольфовичу Солнцеву-Эльбе (21.02.1902–6.11.1991), который в начале 1944 г. подал докладную записку декану Географического факультета проф. С.Д. Муравейскому о необходимости организации в окрестностях Москвы постоянно действующей научной географической станции. Руководство созданием станции осуществляли проф. С.Д. Муравейский, проф. К.К. Марков (декан факультета с осени 1945 г). Первым директором станции был назначен Н.Н. Гулидов.</p>



  <div *ngFor="let image of album$; let i = index" >
    <img [src]="image.thumb" (click)="open(i)" alt="aha"/>
  </div>

  <p></p>
  <p></p>
  <p></p>
</div>
